/*============================
    SINGLE CLASS
============================*/

#classContent{
    #tabStudents,
    #tabPending{
        display:none;
    }
    &.students{
        #tabStudents{
            display:block;
        }
    }
    &.pending{
        #tabPending{
            display:block;
        }
    }
}
